body{
    background-color: #F4F4F4;
    width: 100%;
    
    
}

div#contenido{
    width: 25%;
    height: 250px;
    background-color: #D3D3D3 ;
    border: solid 1px #000;
    margin-left: 35%;
    margin-top: 15%;
    
}

center{
    
    border: solid 1px #000;
    width: 70%;
    height: 50%;
    background: #686868;
   margin-left: 15%;
    text-align: center;
}

form{
    margin-top: 5%;
}

h2{
    font-family: "time new roman";
    text-align: center;
}

input{
    width: 80%;
}


div#button{
    width: 60%;
    text-align: center;
    height: 20px;
    background-color: orangered;
    margin-left: 20%;
    margin-top: 6%;
    border: solid 1px #000;
}